#!/usr/bin/make -f

configure:

build: build-stamp

build-stamp:
	dh_testdir
	pod2man elvoke > elvoke.1
	touch $@

clean:
	dh_testdir
	dh_testroot
	$(RM) build-stamp elvoke.1
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_install elvoke usr/bin/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman elvoke.1
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
